POSTGRES_DB=campanha_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=troque-esta-senha

JWT_SECRET=troque-por-uma-chave-forte-com-mais-de-16-caracteres
JWT_EXPIRES_IN=12h

SEED_ADMIN_EMAIL=admin@campanha.local
SEED_ADMIN_PASSWORD=Admin@123
RUN_SEED_ON_START=false

FRONTEND_URL=https://app.seudominio.com
VITE_API_URL=/api

API_PORT=3333
FRONTEND_PORT=5173
