PORT=3333
NODE_ENV=development
FRONTEND_URL=http://127.0.0.1:5173
JWT_SECRET=troque-esta-chave-no-ambiente
JWT_EXPIRES_IN=12h
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/campanha_db?schema=public
SEED_ADMIN_EMAIL=admin@campanha.local
SEED_ADMIN_PASSWORD=Admin@123
